
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@Styles.Render("~/Content/Css/Register.css");

<div class="register-container">
    <div class="register-content">
        <h1 class="register-name">Đăng ký</h1>
        <div class="input-register-container">
            <input class="input-register" type="text" placeholder="Username" />
            <input class="input-register" type="email" placeholder="Email" />
            <input class="input-register" type="password" placeholder="Password" />
            <p class="register-note">This site is protected by reCAPTCHA and the Google 
                <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> and
                <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service </a>apply.</p>
        </div>
        <div class="register-footer-container">
            <button class="btn-register">Đăng ký</button> 
            <a>Bạn đã có tài khoản? @Html.ActionLink("Đăng nhập ngay", "TrangChu", "Home")</a>
        </div>
    </div>

</div>

