
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@Styles.Render("~/Content/Css/HomeProduct.css");

<div class="product-container">
    <div class="product-box">       
        <div class="product-item">
            <div class="product">
                <div class="percent">15%</div>
                <div>
                    <i class="icon-product-heart ti-heart"></i>
                </div>
                <div class="img-container">
                    <img class="img-product first-img" src="https://product.hstatic.net/1000324561/product/0t0982_0q0372__1__32a9f983314e43da9bf55e009a6f5420_compact.jpg" />
                    <img class="img-product second-img" src="https://product.hstatic.net/1000324561/product/0t0982_0q0372__2__c4adea6e7f8e4583aee288cebc18f4fa_grande.jpg" />
                </div>
                <h3 class="name-product">Áo gile đính nơ - Đen - T0982</h3>
                <div class="new-price-product">
                    339,000
                    <span class="old-price-product">339,000</span>
                </div>
                <div class="color-product"></div>
                <div class="percent-discount">
                    Giảm đến 10% cho hóa đơn từ 600K
                </div>
            </div>

            <div class="product">
                <div class="percent">15%</div>
                <div>
                    <i class="icon-product-heart ti-heart"></i>
                </div>
                <div class="img-container">
                    <img class="img-product first-img" src="https://product.hstatic.net/1000324561/product/0t0982_0q0372__1__32a9f983314e43da9bf55e009a6f5420_compact.jpg" />
                    <img class="img-product second-img" src="https://product.hstatic.net/1000324561/product/0t0982_0q0372__2__c4adea6e7f8e4583aee288cebc18f4fa_grande.jpg" />
                </div>
                <h3 class="name-product">Áo gile đính nơ - Đen - T0982</h3>
                <div class="new-price-product">
                    339,000
                    <span class="old-price-product">339,000</span>
                </div>
                <div class="color-product"></div>
                <div class="percent-discount">
                    Giảm đến 10% cho hóa đơn từ 600K
                </div>
            </div>

            <div class="product">
                <div class="percent">15%</div>
                <div>
                    <i class="icon-product-heart ti-heart"></i>
                </div>
                <div class="img-container">
                    <img class="img-product first-img" src="https://product.hstatic.net/1000324561/product/0t0982_0q0372__1__32a9f983314e43da9bf55e009a6f5420_compact.jpg" />
                    <img class="img-product second-img" src="https://product.hstatic.net/1000324561/product/0t0982_0q0372__2__c4adea6e7f8e4583aee288cebc18f4fa_grande.jpg" />
                </div>
                <h3 class="name-product">Áo gile đính nơ - Đen - T0982</h3>
                <div class="new-price-product">
                    339,000
                    <span class="old-price-product">339,000</span>
                </div>
                <div class="color-product"></div>
                <div class="percent-discount">
                    Giảm đến 10% cho hóa đơn từ 600K
                </div>
            </div>

            <div class="product">
                <div class="percent">15%</div>
                <div>
                    <i class="icon-product-heart ti-heart"></i>
                </div>
                <div class="img-container">
                    <img class="img-product first-img" src="https://product.hstatic.net/1000324561/product/0t0982_0q0372__1__32a9f983314e43da9bf55e009a6f5420_compact.jpg" />
                    <img class="img-product second-img" src="https://product.hstatic.net/1000324561/product/0t0982_0q0372__2__c4adea6e7f8e4583aee288cebc18f4fa_grande.jpg" />
                </div>
                <h3 class="name-product">Áo gile đính nơ - Đen - T0982</h3>
                <div class="new-price-product">
                    339,000
                    <span class="old-price-product">339,000</span>
                </div>
                <div class="color-product"></div>
                <div class="percent-discount">
                    Giảm đến 10% cho hóa đơn từ 600K
                </div>
            </div>
        </div>
    </div>
</div>
